<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163949059-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163949059-1');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WX6XRMZ');</script>
<!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="">

        <meta name="keywords" content="covid-19, coronavirus, factcheck, factchecking, fakenews, rdc, drc">

        <meta name="robots" content="all, index, follow">
        <meta name="author" content="Kinshasa Digital Academy">

        <meta property="og:site_name" content="FactcheckCovid-19">

        <meta property="og:title" content="<%= title?title:'STOP Coronavirus RDC Fact Check'%>">

        <meta property="og:description"
          content="<%= description?description:'Plateforme de signallement des fakenews et de fact checking concernant le COVID-19.' %> ">

        <meta property="og:url" content="<%= url?url:'http://factcheck.stopcoronavirusrdc.info/' %> ">

        <meta property="og:image"
          content="<%= image?image:'https://www.stopcoronavirusrdc.info/img/logo_stop_coronavirus_rdc.png' %> ">
  <title><%= title?title:'Covid-19 Factchecking plateforme' %> </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />

  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.iconify.design/1/1.0.5/iconify.min.js"></script>

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="shortcut icon" href="https://www.stopcoronavirusrdc.info/img/logo_stop_coronavirus_rdc.png"
    type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/css/master.css">
  
  <link rel="stylesheet" type="text/css" href="/css/loader-component.css">
</head>

<body>