<%- include('partials/head') %> <%- include('partials/header') %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Administration</h1>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div> -->
  </div>
  <h2>Section title</h2>
  <div class="row mt-5">
    <div class="col-sm-12">
      <table class="table table-striped table-bordered table-responsive">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col" class="w-15">Titres</th>
            <th scope="col" class="w-10">Sources</th>
            <th scope="col" class="w-25">Contenu</th>
            <th scope="col" class="w-25">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for(let info of news){%>
            <% info.content = info.content && info.content.substr(0,50);%>
            <tr>
              <td><%= info.title %></td>
              <td>
                <%- info.source && info.source.includes('http')? `<a
                  href="${info.source}"
                  target="_blank"
                  >${info.source}</a
                >`:info.source %>
              </td>
              <td><%- info.content %>...</td>
              <td class="text-center">
                <button class="btn btn-info">
                  voir<i class="fa fa-eye"></i>
                </button>
                <button class="btn btn-success">
                  Valider<i class="fa fa-check"></i>
                </button>
                <button class="btn btn-danger">
                  Invalider<i class="fa fa-ban"></i>
                </button>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
