<%- include('../layout/head') %>
<%- include('../layout/header') %>
<div class="container">

  <div class="row return">
    <div class="col-sm-6">
      <a class="" href="/"><span class="iconify" data-icon="cil:arrow-left" data-inline="false"></span> Retour</a>
    </div>
  </div>

  <div class="content">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-8 ">

        <div class="content-card">
          <h2 class="content-heading"><%= news.titre %></h2>
          <p class="text-justify"><%= news.contenu %></p>

          <div class="d-flex justify-content-center mb-3">
            <img width="500" src="<%= news.photo %>" alt="<%= news.titre %>">
          </div>

          <div class="text-center">
            <%-include('../partials/social-share',{url : "https://www.kinshasadigital.com/kinshasa-digital-academy", titre : news.titre})%>
          </div>
        </div>

        <div class="content-card">
          <!-- <h4>Verdict</h4> -->
          <% if(news.statut=='vraie'){
          iconData="mdi:check-circle-outline";
          color ='true'
        }else {
          iconData="mdi:alert-rhombus-outline";
          color='false'
        }
        %>
          <h4><span class="icon iconify <%= color%>" data-icon="<%=iconData %>" data-inline="false"></span>
            <%= news.statut%></h4>
        </div>



      </div>
    </div>
  </div>
  <%- include('../layout/footer') %>