<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="container">

  <div class="row return">
    <div class="col-sm-6">
      <a class="" href="/"><span class="iconify" data-icon="cil:arrow-left" data-inline="false"></span> Retour</a>
    </div>
  </div>

  <div class="content">
    <div class="row justify-content-center">
      <div class="col-sm-10 text-center ">
        <span
          class="badge badge-<%= news.statut =='vraie' ? 'success' :'danger' %> text-uppercase "><span class="h3"><%= news.statut==='vraie'?'vrai':'faux' %></span></span>
        <h1><%= news.titre %></h1>
        <hr>
        <img width="500" src="<%= news.photo?news.photo:'images/covid_19_1.jpg' %>" alt="<%= news.titre %>">
        <p class="text-justify"><%= news.contenu %></p>

        <%-include('../partials/social-share',{url : "https://www.kinshasadigital.com/kinshasa-digital-academy", titre : news.titre})%>

      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>