<%- include('../partials/head') %> <%- include('../partials/header') %>
<div class="row mt-5">
  <div class="col-sm-12 text-center">
    <div class="badge badge-danger text-uppercase ">
      <span class="h1"><%= news.statut %></span>
    </div>

    <h1><%= news.titre %></h1>

    <img class="img-fluid rounded mx-auto d-block" src="<%= news.photo %>" alt="image source <%= news.titre %>">

    <div class="row d-flex justify-content-center">
      <div class="col-sm-7">
        <p class="text-justify"><%= news.contenu %></p>
        <hr>
        <div class="social-share">
          <div class="sharethis-inline-share-buttons"
            data-url="https://www.kinshasadigital.com/kinshasa-digital-academy" data-title="<%= news.titre %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

</div>

<%- include('../partials/footer') %>