<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> <%- include('../partials/header') %>
  <div class="ui visible message">
    <h1 class="ui header"><%= title %></h1>
    <p><%= message %></p>
  </div>
  <%- include('../partials/footer') %>
</html>
