<%- include('../partials/head') %>
<%- include('../partials/header') %>
<header class="d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-12 ">
      <h1>Coronavirus factcheck RDC</h1>
      <p>Bienvenus sur la plate-forme officiel de fact-checking</p>
      <a class="btn btn-dark" href="/form-check-info">Faire verifier une information</a>
    </div>
  </div>
</header>
<hr>
<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-sm-12">
      <h4>Information réchercher avec : <%= moCle %> </h4>
    </div>
    <div class="col-sm-6">
      <%- include('../partials/search-form.ejs')  %>
    </div>
  </div>

  <div class="row ">
    <div class="col-sm-12 d-flex align-items-start flex-wrap">
      <% for(let info of news){info.contenu = info.contenu.substr(0, 100) + `  <small class='text-muted'><a href='${info._id}'> (lire)</a></small> `;%>
      <div class="card mb-5">
        <!-- l'image -->
        <figure>
          <img src="<%= info.photo?info.photo:'images/covid_19_1.jpg' %>" class="card-img " alt="<%= info.titre %>">
        </figure>
        <!-- le contenu -->
        <div class="card-body">
          <span
            class="badge badge-<%= info.statut =='vraie' ? 'success' :'danger' %> text-uppercase"><%= info.statut==='vraie'?'vrai':'faux' %></span>
          <a href="<%= info.id %>">
            <h5 class=" card-title"><%= info.titre %></h5>
          </a>
          <p class="card-text"><%- info.contenu %></p>
          <p class="card-text"><small class="text-muted">5 MARS 2020</small></p>
          <%-include('../partials/social-share',{url : "https://www.kinshasadigital.com/kinshasa-digital-academy", titre : info.titre})%>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <%- include('../partials/footer') %>