<% extend('../layout/layout') %>
<header class="d-flex justify-content-center">
  <div class="row text-center">
    <div class="col-sm-12">
      <h1>Coronavirus factcheck RDC</h1>
      <p>Bienvenus sur la plate-forme officiel de fact-checking</p>
      <a class="btn btn-dark" href="/news/request-verification"
        >Faire verifier une information</a
      >
    </div>
  </div>
</header>
<hr />
<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-sm-12">
      <h4>Les dernières infos</h4>
    </div>
    <div class="col-sm-12">
      <%- include('../partials/search-form.ejs') %>
    </div>
  </div>
  <div style="margin-top: 100px;" class="row">
    <div id="loadedNews">
      <% for(let check of factChecks){check.d = check.checkedFact.substr(0,
      100);%>
      <div class="col-sm-12">
        <a
          href="/factchecks/<%= check.slug ? check.slug : check._id %>"
          class="card"
        >
          <figure>
            <img
              style="max-height: 100%; max-width: 100%;"
              src="<%= check.photo ? check.photo : 'images/covid_19_1.jpg' %>"
              class="card-img"
              alt="<%= check.titleQuestion %>"
            />
          </figure>
          <div class="card-body">
            <span
              class="badge badge-<%= check.verdict =='true' ? 'success' :'danger' %> text-uppercase"
              ><%= check.verdict==='true'?'VRAI':'FAUX' %></span
            >
            <h5 class="card-title"><%= check.titleQuestion %></h5>
            <p class="card-text"><%- check.checkedFact %>...</p>
            <p class="card-text">
              <small class="text-muted date"><%= check.publishedAt %></small>
            </p>
            <div class="text-right">
              <%-include('../partials/social-share',{url :
              "https://www.kinshasadigital.com/kinshasa-digital-academy", title
              : check.titleQuestion})%>
            </div>
          </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="js/html-string.js"></script>
  <script src="js/generate-loaders.js"></script>
  <script src="js/load-factchecks.js"></script>
  <script src="js/search-factchecks.js"></script>
</div>
